<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Flask Blog</title>
</head>
<body>
    <h1>Welcome to Flask Blog</h1>
</body>
</html> -->



{% extends 'base.html' %}
{% block title %} FlaskBlog {% endblock %}

{% block content %}
<h1> Welcome to FlaskBlog </h1>
{% for post in posts %}


<a href="{{ url_for('post', post_id=post['id']) }}">

    <h2>{{post['title']}}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>

</a>
<a href="{{ url_for('edit', id=post['id']) }}">
    <span class="badge badge-warning">Edit</span>
</a>
{% endfor %}
{% endblock %}